*.dds
*.dds_old
*.fow
*.swf
*.w2anims
*.w2beh
*.w2behtree
*.w2blb
*.w2comm
*.w2comm.link
*.w2cube
*.w2cutscene
*.w2ds
*.w2dset
*.w2ent
*.w2ent.link
*.w2faces
*.w2fnt
*.w2goalcrv
*.w2job
*.w2l
*.w2lg
*.w2mesh
*.w2mg
*.w2p
*.w2phase
*.w2ps
*.w2qlog
*.w2quest
*.w2ragdoll
*.w2rig
*.w2scene
*.w2scene.link
*.w2steer
*.w2w
*.xbm
